@top: 50px;
@height: 40px;

#alphabet {
  position: absolute;
  top: @top;
  width: 100%;
  height: @height;
  border-bottom: 1px solid @border-color;
  background-color: @background-color;
  padding-left: 31px;

  ul {
    margin: 0;
    padding: 0;
    display: inline;
    li {
      list-style: none;
      display: inline;
      input {
        width: 1em;
        height: 1em;
        padding: 3px;
        margin: 0.5em 10px;
        text-align: center;

        border: 1px solid @border-color;

        &:focus {
          outline: none;
          border: 1px solid @highlight-color;
        }

        &.invalid-true {
          background-color: red;
        }
      }
    }
  }
}